<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for using Team Connect, <%= @user.first_name %>!</h1>
    <p>
      Your request to join <%= @team.name %> has been approved!<br>
    </p>
    <p>
      View your team and upcoming games at <%= @url %>
    </p>
    <p>Have a great day!</p>
  </body>
</html>