@import '../../App.scss';

.checkin-header {
    padding-top: 0px;
}
.checkin-main {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    label {
        font-size: 14px;
        font-weight: 100;
    }

    .caption {
        margin: auto 0;
        font-size: 12px;
        width: 100px;
    }

    &:hover {
        .caption {
            text-decoration: underline;
        }
    }

   .attendance-button{
        height: 40px;
        width: 80px;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $eggshell;
    }

    .reserved {
        background-color: $light-green;
        &::after {
            content: "You're in!";
            text-align: center;
        }
    }

    .unreserved {
        background-color: $red;
        font-weight: bold;
        &::after {
            content: "Not in"
        }
    }

    .none {
        background-color: gray;
        font-weight: bold;
        &::after {
            color: black;
            content: "Click to Enter";
            text-align: center;
        }
    }
}
