.checkin-main {
    padding-top: 10px;
    label {
        font-size: 14px;
        font-weight: 100;
    }

    .round-div {
        padding-left: 5px;
        margin: 10px 0 0 0;
        input {
            margin-top: 5px;
            margin-left: 18px;
        }
    }
}
