@use '../../App.scss' as *;

a {
    color: $green;
}


#LoginForm {
    position: static;
    width: 70vw;
    height: 50vh;
    background-color: #ffffff;
    padding: 20px 24px 30px 24px;
    border-radius: 0 0 20px 20px;
}

#ResetPassword {
    background-color: $eggshell;
    background-color: #ffffff;
    border-radius: 0 0 20px 20px;
    padding: 20px;
    width: 70vw;
}

#signUpForm .InputContainer{
    font-size: smaller;
    height: fit-content;
    input {
        height: 10px;
    }
}

.FormDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

label {
    font-size: 15px;
    font-weight: bold;
}

.Input {
    width: 65%;
    padding: 15px;
    margin-top: 2px;
    margin-bottom: 10px;
    border: none;
    background-color: $input;
    border: 1px solid rgb(161, 205, 161);
    opacity: 0.7;
}

.Input:focus, .Input:hover {
    background-color: $input-focus;
}

.InputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    // margin-bottom: 20px;
}

.button-small {
    border-radius: 5px;
    background: $dark-green;
    color: $light-green;
    font-size: 12px;
    font-weight: bold;;
    padding: 0px 15px 0px 15px;
    height: 30px;
    transition: 0.2s;
}

.button-small:hover {
    background: $green;
    color: $dark-green;
    border: 2px solid $green;
    border-radius: 0;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

.error {
    display: none;
    font-size: 16px;
    color: #ae0000;
}

.message {
    display: none;
    font-size: 20px;
    color: $green;
    padding: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    align-self: flex-start;
    justify-content: center;
}

.button-large {
    border-radius: 10px;
    background: $dark-green;
    color: $light-green;
    font-size: 16px;
    height: 80px;
    width: 50%;
    transition: 0.2s;
}

.button-large:hover{
    border-radius: 2px;
    border: 2px solid $green;
    background-color: $green;
}
.button-large:disabled {
    color: $grey;
    background: #555555;
    cursor: not-allowed;
    border-radius: 10px;
    border: 2px solid #00000000
}


.button-small, .button-large {
    cursor: pointer;
}

.nav-session-button {
    font-weight: bold;
    font-size: 12px;
    width: 70px;
    text-decoration: none;
    transition: background-color 0.2s ease-out;
}

.alert {
    background-color: #ae0000;
    color: $eggshell;
    border: 1px solid white;
}