@use '../../App.scss' as *;

#user-card {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 10px;
    top: 110px;
    gap: 10px;
    i {
        color: $green;
        font-size: 16px;
    }
    button {
        position: absolute;
        bottom: -150%;
        right: 0;
        background-color: $dark-green;
        border: none;
        border-radius: 8px;
        padding: 3px;
        color: $light-green;

        &:hover {
            border-radius: 2px;
        }
    }
}

#Logo {
    height: 80px;
    padding-left: 10px;
    display: inline;
}