@use '../../App.scss' as *;

.navigation {
    position: relative;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to right, $dark-green, $green 152px);
    h1 {
        position: relative;
        justify-self: flex-end;
        display: inline;
        margin: auto 0;
        font-size: 175%;
    }
}