.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(13, 98, 0);
    color: rgb(6, 41, 0)
}

#Logo {
    height: 70px;
    width: auto;
}