@use '../../App.scss' as *;


.nav-li {
    list-style: none;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    width: fit-content;
    padding: 1px;
    margin: 10px 0 10px auto;
    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
.active {
    color: rgb(222, 0, 0);
    font-weight: bold;
}
#user-card {
    text-align: right;
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 10px;
    top: 105px;
    padding: 0 5px 8px 5px;
    border-radius: 0 0 10px 10px;
    i {
        color: $green;
        font-size: 16px;
    }
    button {
        position: relative;
        margin: 3px 0 0 auto;
        background-color: $dark-green;
        border: none;
        border-radius: 8px;
        padding: 3px;
        color: $light-green;
        cursor: pointer;

        &:hover {
            border-radius: 2px;
        }
    }
}
details{
    background-color: transparent;
    transition: 0.2s;
}
details[open]#user-card{
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1, 1.1);
    translate: 0 5px;
    top: 103px;
    padding-top: 5px;
}

#Logo {
    height: 80px;
    padding-left: 10px;
    display: inline;
}